Series in Panda

In [ ]:
import pandas as pd
import numpy as np

# Create a Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])

print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Dataframe in Pandas

In [ ]:
import pandas as pd

# Create a DataFrame
data = {'name': ['Wajeeha', 'Imtiaz', 'Sarwat', 'Biya'],
        'age': [21, 53, 48, 24],
        'gender': ['F', 'M', 'F', 'F']}

df = pd.DataFrame(data)

print(df)

      name  age gender
0  Wajeeha   21      F
1   Imtiaz   53      M
2   Sarwat   48      F
3     Biya   24      F